//-------------------
// Toggle visibility
//-------------------
*{
    font-family: 'Oxygen', sans-serif;
}

.hidden{
    display: none;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.show{
    visibility: visible;
    opacity: 1;
}

*:focus{
    outline: coral;
}

//--------------
// Base styling
//--------------

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    background: $darkBlue;
    body{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 1px;
        background: linear-gradient($darkOrange, $darkBlue);
    }
}

canvas{
    width: 100vw;
    height: 100vh;
    @include fixed();
}

//-----------
// Intro page
//-----------
.intro-container {
    background: url(/public/assets/sunset-cropped.jpg);
    position: fixed;
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100%;   
}

#charge{
    @include fontSizer(25);
    color: $black;
}

form{
    text-align: center;
    label {
        @include font(60, 700);
        color: $black;
        display: block;
        text-transform: uppercase;
        word-spacing: 4px;
    }
    .rover-selection-container {
    @include font(20, 400);
    padding: 10px;
    border: none;
    background: $backgroundTransparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid transparent;
    }
    
    .rover-selection-container:hover{
        border: 2px solid $white;
        box-shadow: 0 0 15px $white;
    }

    .rover-selection-container:focus{
        border: 2px solid $white;
        box-shadow: 0 0 15px $white;
    }
}


// .rover-select-button {
//     font-size:18px;
//     padding: 10px;
//     border-radius: 7px;
//     margin-left: 20px;
//     transition: all 0.3s ease;
//     border: none;
//     &:hover {
//         color: $white;
//         background: black;
//     }
// }

//------------
// Background
//------------
.planets{
    position: fixed;
    z-index: $background;
    height: 100vh;
    img{
        position: absolute;
    }
}

.pink-container{
    width: 105vw;
    #pink-planet{
        width: 300px;
        top: 45%;
        left: 8%;
        transform: rotate(-20deg);
    }
}

.green-container{
    width: 101vw;
    #green-planet{
        width: 500px;
        left: 50%;
        top: 35%;
        transform: translate(-50%);
    }
}

.red-container{
    width: 110vw;
    #red-planet{
        width: 150px;
        top:  15%;
        left: 25%;
    }
}

.yellow-container{
    width: 103vw;
    #yellow-planet{
        width: 350px;
        right: 5%;
        top: 8%;
    }
}

.sand {
    @include fixed();
    background: url(../assets/mars-bg.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 239px;
    width: 20000px;
    overflow: hidden;
    z-index: $midground;
    bottom: 0;
}

//-------
// Rover
//-------

.rover-img{
    position: fixed;
    width: 300px;
    height: auto;
    left: 100px;
    bottom: 57px;
    z-index: $rover;
}

//--------------
// Styling fonts
//--------------

//------------------------------------
//styling radio buttons and img labels
//------------------------------------


//-----------
// Nasa-image
//-----------

.nasa-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: $nasaImgs;
}

.nasa-image > img {
    margin:auto;
    border: 12px solid $white;
    border-radius:7px;
    width: 800px;
    height:500px;
     position: relative;
   
}
.close-button {
    color: $black;
    font-size:30px;
    font-weight: bold;
    position: absolute;
    right: 300px;
    top: 90px;
    z-index: 9999999;
    background: $white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

//-------
// Quote
//-------

.quote {
    width:400px;
    height: auto;
    position: fixed;
    top: 250px;
    color: $black;
    background: $backgroundTransparent;
    left: 400px;
    border-radius: 7px;
    padding: 20px;
    z-index: $quotes;
    q {
        font-size: 25px;
    }
    p {
        font-size: 16px;
        text-align: right;
        padding-top: 20px;
    }
}

.quote::after {
    content: '';
    border-top: 20px solid $backgroundTransparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: fixed;
    margin-top: 20px;
}

//--------------
//media queries
//--------------
