html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background: peru;
}

body{
    background: url(../assets/mars-background.png);
    background-repeat: repeat-x;
    bottom: 0;
}

//------------
//page layout
//------------
.wrapper{
    width: 70%;
    margin: 5em auto;
    padding: 1px;
    @media (max-width: 1200px) {
        width: 80%;
    }
    @media (max-width: 1050px) {
        width: 90%;
    }
    .grid-col-3{
        @include grid($grid-col-3);
        align-items: stretch;
        justify-items: center;
    }
}

//--------------
//styling fonts
//--------------
.main-title{
    @include font(50);
    color: $accent;
    text-align: center;
}

h1{
    @include font(30);
    color: $accent;
}

h2{
    @include font(20);
    color: $accentDark;
    text-align: center;
}

h3{
    @include font(15);
    color: $accentDark;
}

//------------------------------------
//styling radio buttons and img labels
//------------------------------------


//------
//header
//------

//----------------
//parallax stuffs
//----------------


//----
//svg
//----
.talking-faces{
    @include flex(row);
    justify-content: center;

    @keyframes play30 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -3000px 0px;
    }
    }
    .shapeshifter {
    animation-duration: 1000ms;
    animation-timing-function: steps(30);
    width: 100px;
    height: 125px;
    background-repeat: no-repeat;
    }
    .shapeshifter.play1 {
        @include animation(0.10s);
    }
    .shapeshifter.play2 {
        @include animation(0.2s);
    }
    .shapeshifter.play3 {
        @include animation(0.9s);
    }
    .shapeshifter.play4 {
        @include animation(0.5s);
    }
    .shapeshifter.play5 {
        @include animation(0.7s);
    }
}

//--------
//results
//--------


//--------------
//media queries
//--------------
