html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background: peru;
}
body{
    position: relative;
}

.sky{
    @include fixed;
    height: 100vh;
    width: 105vw;
    background: url(../assets/sunset-cropped.jpg);
    background-size: cover;
    background-position: center;
    //background-position: cover;
}
// .mountains3{
//     @include fixed();
//     background: url(../assets/mountain3.png);
//     background-repeat: repeat-x;
//     background-position: bottom;
//     height: 1000px;
//     width: 1000px;
//     overflow: hidden;
//     z-index: $mountains;
//     bottom: -500px;
// }
.mountains2{
    @include fixed();
    background: url(../assets/mountain2.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 2000px;
    width: 2000px;
    overflow: hidden;
    z-index: $mountains;
    bottom: -300px;
}

.mountains1{
    @include fixed();
    background: url(../assets/mountain1.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 2000px;
    width: 2000px;
    overflow: hidden;
    z-index: $mountains;
    bottom: -200px;
}

.sand{
    @include fixed();
    background: url(../assets/sand.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 239px;
    width: 20000px;
    overflow: hidden;
    z-index: $midground;
}
.foreground{
    @include fixed();
    background: url(../assets/foreground.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 240px;
    width: 18000px;
    overflow: hidden;
    z-index: $foreground;
}

.rover-img{
    position: fixed;
    width: 300px;
    height: auto;
    left: 100px;
    bottom: 160px;
    z-index: $rover;
}
//------------
//page layout
//------------


//--------------
//styling fonts
//--------------
.main-title{
    @include font(50);
    color: $accent;
    text-align: center;
}

h1{
    @include font(30);
    color: $accent;
}

h2{
    @include font(20);
    color: $accentDark;
    text-align: center;
}

h3{
    @include font(15);
    color: $accentDark;
}

//------------------------------------
//styling radio buttons and img labels
//------------------------------------


//------
//header
//------

//----------------
//parallax stuffs
//----------------



//--------
//results
//--------


//--------------
//media queries
//--------------
