//-------------------
// Toggle visibility
//-------------------
*{
    font-family: 'Oxygen', sans-serif;
}

.hidden{
    display: none;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.show{
    visibility: visible;
    opacity: 1;
}

*:focus{
    outline: none;
}

//--------------
// Base styling
//--------------

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    background: $darkBlue;
    animation: bgColor 60s ease-out infinite;
    body{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 1px;
        background: linear-gradient($darkOrangeTransparent, $darkBlueTransparent);
    }
}

canvas{
    width: 100vw;
    height: 100vh;
    @include fixed();
}

//-----------
// Intro page
//-----------
.intro-container {
    background: url('../assets/sunset-cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    z-index: $intro;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100%; 
}

.credit {
   bottom: 20px;
   text-align: center;
   font-size: 12px;
   position: absolute;
   color: $pink;
   a {
    text-decoration: none;    
    color: $pink;
   }
}

.copyright {
    bottom: 40px;
    color: lighten($pink, 20%);
    text-align: center;
    font-size: 12px;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    word-spacing: 3px;
}

#charge{
    @include fontSizer(25);
    color: $black;
}

form{
    text-align: center;
    label {
        @include font(80, 700);
        font-family: 'Righteous', cursive;
        color: $black;
        display: block;
        text-transform: uppercase;
        word-spacing: 4px;
    }
    p{
        font-size: 40px;
        font-weight: 700;
        color: $black;
    }

    .select-container{
        position: relative;
        width: 200px;
        margin: 0 auto;
        select{
            border-radius: 7px;
            -webkit-appearance: none;
            -moz-appearance: none;
            -moz-user-select:none;            
            padding: 2px 8px;
        }
        .fa-sort-down{
            font-size: 25px;
            position: absolute;
            right: 5px;
            top: 2px;
        }
    }

    .rover-selection-container {
    @include font(20, 400);
    width: 200px;
    height: 40px;
    background: $backgroundTransparent;
    border: 2px solid transparent;
    border-radius: 7px;
    -moz-user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    }
}


    .rover-selection-container:hover{
        border: 2px solid $white;
        box-shadow: 0 0 15px $white;
    }

    .rover-selection-container:focus{
        border: 2px solid $white;
        box-shadow: 0 0 15px $white;
    }

//------------
// Background
//------------
.instructionContainer{
    position: fixed;
    top: 5%;
    left: 5%;
    background: $white;
    width: 300px;
    border-radius: 5px;
    font-size: 3rem;
    padding: 2rem;
    z-index: $instruction;
    box-shadow: 0 3px 2px #777;
    p{
        margin: 0;
    }
}
.loading {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    // animation: rotation 1s infinite linear;
    // border: 10px solid rgba(255, 255, 255, 0.2);
    // border-top-color: rgba(255, 255, 255, 0.7);
    // border-radius: 50%;
    z-index: $loader;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.planets{
    position: fixed;
    z-index: $background;
    height: 100vh;
    img{
        position: absolute;
    }
}

.stars{
    width: 101vw;
    #pink-planet{
        width: 100%;
        height: 100%;
    }
}

.pink-container{
    width: 102vw;
    #pink-planet{
        width: 300px;
        top: 45%;
        left: 8%;
        transform: rotate(-20deg);
        animation: tiltLeft 10s linear infinite;
    }
}

.green-container{
    width: 105vw;
    #green-planet{
        width: 500px;
        left: 50%;
        top: 35%;
        transform: translate(-50%);
    }
}

.red-container{
    width: 110vw;
    #red-planet{
        width: 150px;
        top:  25%;
        left: 55%;
        transform: rotate(12deg);
        animation: tiltRight 18s linear infinite;
    }
}

.yellow-container{
    width: 106vw;
    #yellow-planet{
        width: 270px;
        right: 5%;
        top: 8%;
        transform: rotate(-20deg);
        animation: tiltLeft 18s linear infinite;
    }
}

.milky-way-container{
    width: 101vw;
    #milky-way{
        width: 280px;
        left: 15%;
        top: 5%;
        transform: skew(20,20);
        animation: rotateClockwise 30s ease-in-out infinite;
    }
}

//fix this
.rocket{
    width: 100%;
    z-index: $astronaut;
    height: 100px;
    position: relative;
    #rocket{
        position: absolute;
        transform: rotate(40deg);
        width: 130px;
        left: 40%;
        bottom: -100vh;
    }
}

//---------
// Terrain
//---------

.sand {
    @include fixed();
    background: url(../assets/mars-bg.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 239px;
    width: 20000px;
    overflow: hidden;
    z-index: $midground;
    bottom: 0;
}

//-----------
// Astronaut
//-----------

.astronaut{
    position: fixed;
    width: 70px;
    bottom: 260px;
    right: 25%;
    transform: rotate(22deg);
    z-index: $astronaut;
    img{
        animation: popup 7s ease-in-out infinite;
    }
}

//-------
// Rover
//-------

.rover-img{
    position: fixed;
    width: 300px;
    height: auto;
    left: 100px;
    bottom: 57px;
    z-index: $rover;
}

//------------
// Animation
//------------

@keyframes bgColor {
    0%   {background-color: $darkRed;}
    25%  {background-color: $darkBlue;}
    50%  {background-color: $purple;}
    100% {background-color: $darkRed;}
}

@keyframes fullRotation{
    0% {transform: rotate(0deg), translate3d(20deg, 10deg)}
    50% {transform: rotate(180deg), translate3d(20deg, 10deg)}
    100% {transform: rotate(360deg), translate3d(20deg, 10deg)}
}
@keyframes tiltRight{
    0% {transform: rotate(12deg)}
    50% {transform: rotate(-5deg)}
}

@keyframes tiltLeft{
    0% {transform: rotate(-20deg)}
    50% {transform: rotate(-10deg)}
}
@keyframes rotateClockwise {
    0%   {transform: rotate3d(20, 20, 1, 20deg);}
    50%  {transform: rotate3d(20, 20, 1, 50deg);}
    100%  {transform: rotate3d(20, 20, 1, 20deg);}
}

@keyframes rotateCounterClockwise {
    0%   {transform: rotate3d(1, 0.4, 1, -20deg);}
    50%  {transform: rotate3d(1, 0.4, 1, 70deg);}
}

@keyframes popup {
    0% {transform: translateY(0px);}
    50% {transform: translateY(20px);}
}

//-----------------------------
//styling social media buttons
//-----------------------------
.social-btn{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $quotes;
    width: 200px;
    #twitter{
        background: $purple;
    }
}

//-----------
// Nasa-image
//-----------

.nasa-image-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: $nasaImgs;
    
}
.nasa-image {
    max-width: 800px;
    height: 90%;
    position: relative;
    z-index: $nasaImgs;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 12px solid $white;
    border-radius:7px;
    
}

.nasa-image > img {
    margin:auto;
    width: 100%;
    height: 100%;
}

.close-button {
    color: $black;
    font-size:30px;
    font-weight: bold;
    position: absolute;
    right: -25px;
    top: -29px;
    z-index: 9999999;
    background: $white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

//-------
// Quote
//-------

.quote {
    width:400px;
    height: auto;
    position: fixed;
    bottom: 100px;
    left: -247px;
    color: $black;
    background: $backgroundTransparent;
    border-radius: 7px;
    padding: 20px;
    transform: rotate(-22deg);
    z-index: $quotes;
    q {
        font-size: 25px;
    }
    p {
        font-size: 16px;
        text-align: right;
        padding-top: 20px;
    }
}

.quote::after {
    content: '';
    border-top: 20px solid $backgroundTransparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: fixed;
    margin-top: 20px;
}

//--------------
//media queries
//--------------

@media screen and (max-width: 1000px) {
    .stars{
        display: none;
    }
    .pink-container{
        #pink-planet{
            left: 2%;
        }
    }
    .green-container{
        display: none;
    }
    .yellow-container{
        display: none;
    }
    .red-container{
        #red-planet{
            width: 150px;
            top:  50%;
            left: 65%;
        }
    }
    .nasa-image {
        width: 600px;
        height: 500px;
    }
}

@media screen and (max-width: 450px) {
    .intro-container {
    // background: url(/public/assets/mobileBG.jpg) no-repeat center center fixed;
    background: $purple;
    background-size: auto;
    }

    .credit {
    color: $white;
    a {  
        color: $white;
        }
    }

    .copyright {
        color: $white;
    }

    #charge{
    @include fontSizer(25);
    color: $white;
    }

    form{
        text-align: center;
        label {
            @include font(60, 700);
            color: $white;
            display: block;
            text-transform: uppercase;
            word-spacing: 4px;
        }
        p{
        color: $white;
        }
    }

    .quote{
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .rover-img{
        left: 20px;
    }

    .pink-container{
        #pink-planet{
            left: 2%;
            width: 98px;
        }
    }

    .red-container{
        #red-planet{
            width: 60px;
        }
    }

    .milky-way-container{
    width: 101vw;
    #milky-way{
        width: 150px;
        }
    }

    .astronaut{
    bottom: 350px;
    }

    .quote {
    width:300px;
    bottom: 100px;
    }

    .nasa-image {
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width: 620px){
    form{
        label {
            @include font(60, 700);
            font-family: 'Righteous', cursive;
        }
        p{
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 450px) {
    form{
        label {
            @include font(40, 700);
            font-family: 'Righteous', cursive;
            color: $white;
        }
        p{
            font-size: 20px;
        }
    }
    .nasa-image {
        width: 350px;
        height: 300px;
    }
    .close-button {
        width: 20px;
        height: 20px;
        font-size: 16px;
        right: 12px;
        top: 10px;
    }
}

@media screen and (max-width: 320px) {
     .nasa-image {
         width: 300px;
         height: 300px;
     }
     .close-button {
         width: 20px;
         height: 20px;
         font-size: 16px;
         right: 12px;
         top: 10px;
     }
}